<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>

    <h1>There are no books currently available</h1>

    <% else %>

    <div class="row">

    <% @books.each do |book| %>
          <div class="col-md-3 col-sm-6 ">
      <a href= "/books/<%= book.id%>">
        <%= image_tag book.book_img.url(:book_index), class: "book well center-block" %>
        </a>
          </div>

    <% end %>
    </div>
<% end %>