<h1>Index view</h1>
<% @books.each do |book| %>
  <h2><%= link_to book.title, book_path(book)%></h2>
    <h4><%=book.description%></h4>
    <p><%=book.author%></p>
<% end %>

<%= link_to "Add book", new_book_path %>